@media (max-width: 1200px) { // check from 993px
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .personal__wrapper {
        grid-template-columns: 400px 520px;
        column-gap: 40px;
    }
}

@media (max-width: 992px) { // check from 769px
    .container {
        max-width: 720px;
    }
    .personal__wrapper {
        grid-template-columns: 300px 380px;
    }
}

@media (max-width: 768px) { // check from 577
    .container {
        max-width: 540px;
    }
    .title_fz48 {
        font-size: 32px;
    }
    .personal__wrapper {
        grid-template: 500px auto auto / 1fr;
    }
}

@media (max-width: 576px) { // check from 320px
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title_fz48 {
        font-size: 23px;
        line-height: 45px;
    }
    .menu__block {
        width: 320px;
    }
    .personal {
        &__title {
            font-size: 24px;
        }
    }
}


