.sidepanel {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 370px;
    z-index: 3;
    top: 300px;
    left: 50px;
    &__divider {
        height: 70px;
        width: 2px;
        background-color: #fff;
    }
    &__text {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }
    &__link {
        img {
            width: 30px;
            height: 30px;
            background-color: #fff;
            border-radius: 100%;
            border: none;
        }
    }
}